

.red,
.green,
.blue {
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #000;
}
.red {
  background-color: red;
  z-index: 1;
}
.green{
  background-color: green;
  z-index: 2;
}
.blue{
  background-color: blue;
  z-index: 3;
}
button{
  font-size: 20px;
  padding: 10px 20px;
}